#container {
  text-align: center;
}

#container .sampleBox {
  margin: 10px auto;
  width: 80%;
  border: 2px dotted black;
  background-color: whitesmoke;
}

#container #sample1 div {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 50%;
  -webkit-animation: bounce-delay 1.5s;
          animation: bounce-delay 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#container #sample1 div:nth-child(1) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

#container #sample1 div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

#container #sample2 .rect2 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: black;
  -webkit-animation-name: rect-scaled;
          animation-name: rect-scaled;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 20;
          animation-iteration-count: 20;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#container #sample3 {
  -webkit-perspective: 120px;
          perspective: 120px;
}

#container #sample3 .rect3 {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: black;
  -webkit-animation-name: rotation-3d;
          animation-name: rotation-3d;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 20;
          animation-iteration-count: 20;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#container #sample4 {
  padding: 20px;
}

#container #sample4 div {
  display: inline-block;
  width: 10px;
  height: 60px;
  background-color: black;
  -webkit-animation-name: scale-vartical;
          animation-name: scale-vartical;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 20;
          animation-iteration-count: 20;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#container #sample4 div:nth-child(1) {
  -webkit-animation-delay: -1.05s;
          animation-delay: -1.05s;
}

#container #sample4 div:nth-child(2) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

#container #sample4 div:nth-child(3) {
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
}

#container #sample4 div:nth-child(4) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

#container #sample5 {
  position: relative;
  text-align: center;
  background-color: lightsalmon;
  width: 60%;
  height: 100px;
  margin: 0 auto;
}

#container #sample5 .animateStrings {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
}

#container #sample5 .animateStrings.isShow {
  opacity: 1;
}

#container #sample5 .animateStrings.isShow .char {
  display: inline-block;
  -webkit-animation-name: string-fade-in;
          animation-name: string-fade-in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#container #sample5 .animateStrings.isShow .char:nth-child(1) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(3) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(4) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(5) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(6) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(7) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(8) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(9) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(10) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(11) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(12) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(13) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(14) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(15) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(16) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(17) {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(18) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

#container #sample5 .animateStrings.isShow .char:nth-child(19) {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}

#container #sample6 button {
  display: block;
  margin: 5px auto;
}

#container #sample6 .box {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: lightsalmon;
}

#container #sample6 .appear .box {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

#container #sample6 .appear.isShow .box {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

#container #sample6 .appear.isShow .box:nth-child(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

@-webkit-keyframes bounce-delay {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes bounce-delay {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes rect-scaled {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: black;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: silver;
  }
}

@keyframes rect-scaled {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: black;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: silver;
  }
}

@-webkit-keyframes rotation-3d {
  0% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: rotateX(-180deg) rotateY(0deg);
            transform: rotateX(-180deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(-180deg) rotateY(-180deg);
            transform: rotateX(-180deg) rotateY(-180deg);
  }
}

@keyframes rotation-3d {
  0% {
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: rotateX(-180deg) rotateY(0deg);
            transform: rotateX(-180deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(-180deg) rotateY(-180deg);
            transform: rotateX(-180deg) rotateY(-180deg);
  }
}

@-webkit-keyframes scale-vartical {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes scale-vartical {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes string-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes string-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*# sourceMappingURL=style.css.map */