@import "mixinParts";

#container {
    text-align: center;

    #sample1 {
        // .dot {
        div {   
            display: inline-block;
            width: 24px;
            height: 24px;
            background-color: black;
            border-radius: 50%;
            animation: bounce-delay 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;

            @for $i from 1 to 3 {
                &:nth-child(#{$i}) { //selectorの中にいれるときや文字列中にいれる場合は #{} をつける
                    animation-delay: -1.0s / $i;
                }
            }    
        }
        // .dot {
        //         display: inline-block;
        //         width: 24px;
        //         height: 24px;
        //         background-color: black;
        //         border-radius: 50%;
        //         animation: sk-bounce-delay 1.5s;
        //         animation-timing-function: ease;
        //         animation-iteration-count: infinite;
    
        //         @for $i from 1 to 3 {
        //             &:nth-child(#{$i}) { //selectorの中にいれるときや文字列中にいれる場合は #{} をつける
        //                 animation-delay: -1.0s / $i;
        //             }
        //         }    
        //     }
    
        // // #dot1 {
        //     animation-delay: -1.0s
        // }        
        // #dot2 {
        //     animation-delay: -0.5s;
        // }

    }

    #sample2 {
        .rect2 {
            display: inline-block;
            width: 50px;
            height: 50px;
            background-color: black;
            @include animation($name: rect-scaled);
        }
    }

    #sample3 {
        perspective: 120px; //X-Y平面上だと動きが分からないのでずらす
        .rect3 {
            display: inline-block;
            width: 50px;
            height: 50px;
            background-color: black;
            @include animation($name: rotation-3d);
        }
    }

    #sample4 {
        padding:20px;
        div {
            display: inline-block;
            width:10px;
            height:60px;
            background-color: black;
            @include animation(
                $name: scale-vartical,
                $duration: 1.5s
                );

            @for $i from 1 to 5 {
                &:nth-child(#{$i}){
                    animation-delay: -1.2s + $i * 0.15s;
                }
            }
        }
    }

    #sample5 {
        position: relative;
        text-align: center;
        background-color: lightsalmon;
        width: 60%;
        height: 100px;
        margin: 0 auto;
        
        .strings {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            color: white;

            &.isShow {
                opacity: 1;

                & .char {
                    display: inline-block;
                    
                    @include animation (
                        $name: string-fade-in,
                        $duration: 0.5s,
                        $iteration-count: 1,
                        $fill-mode: both                
                    );

                    @for $i from 1 to 5 {
                        &:nth-child(#{$i}) {
                            animation-delay: $i*0.1s;
                        }
                    }
                }
            }
        }
    }
}

@keyframes bounce-delay {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes rect-scaled {
    0% {
        transform: scale(0);
        background-color: black;
    }
    100% {
        transform: scale(1);
        background-color: silver;
    }
}

@keyframes rotation-3d {
    0% {
        transform: rotateX(0) rotateY(0);        
    }    
    50% {
        transform: rotateX(-180deg) rotateY(0deg);        
    }    
    100% {
        transform: rotateX(-180deg) rotateY(-180deg);        
    }    
}

@keyframes scale-vartical {
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0.5);
    }
    100%{
        transform: scaleY(1);
    }

}

@keyframes string-fade-in {
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }

}