h3 {
    background-color: blueviolet;
    color: aliceblue;
}

#container {

    .input-extend {
        input[type="text"] {
            width: 150px;
            transition: width .4s;
        }
        input[type="text"]:focus {
            width: calc(150px * 2);
        }
        input {
            caret-color: blue; //入力時の縦線(キャレット)の色
        }
    }

}