#container {
    text-align: center;

    ul {
        text-align: left;
    }

    .inner {
        background-color: gainsboro;    
    }

    .row1 {
        width:400px;
        height: 100px;
        margin: 20px auto;
        background-color: lightpink;
        .column1 {
            display: inline-block;
            margin: 5% 10%;
            width:50px;
            height: 50px;
            background-color:salmon;
        }    
    }
    .row1-2 {
        margin: 10px auto;
        width:50px;
        height: 50px;
        background-color:salmon;
    }    

    .row2 {
        width:400px;
        height: 100px;
        margin: 20px auto;
        display: flex;
        justify-content: center; //横方向の整列
        // justify-content: space-between; //均等に
        align-items: center; //縦方向の整列
        background-color: lightpink;
        .column2 {
            margin: 5% 10%;
            width:50px;
            height: 50px;
            background-color:salmon;
        }    
    }

    .row2-2 {
        width:400px;
        height: 200px;
        margin: 20px auto;
        display: flex;
        flex-direction: column; // rowだと横並び
        justify-content: center; //横方向の整列
        align-items: center; //縦方向の整列
        background-color: lightpink;
        .column2-2 {
            margin: 5% 10%;
            width: 50px;
            height: 50px;
            background-color:salmon;
        }    
    }

    .row2-3 {
        width: 400px;
        height: 100px;
        margin: 20px auto;
        display: flex;
        background-color: lightpink;
        .column2-3-1 {
            flex-grow: 1; //別の子要素と均等に分割
            background-color:salmon;
        }    
        .column2-3-2 {
            flex-grow: 2;
            background-color:orange;
        }    
        .column2-3-3 {
            flex-basis: 30px;
            background-color:burlywood;
        }    
    }


    .row3 {
        width:400px;
        height: 100px;
        margin: 20px auto;
        background-color: lightpink;
        position: relative;
        .column3 {
            width:50px;
            height: 50px;
            position: absolute;
            top: 0px;
            left: 0px;
            background-color:salmon;
            z-index: 2;
        }    
        .column3-2 {
            width:50px;
            height: 50px;
            position: absolute;
            top: 20px;
            left: 20px;
            background-color:red;
        }    
        .column3-3 {
            width:50px;
            height: 50px;
            position: fixed;
            bottom: 10px;
            right: 0px;
            background-color:red;
        }    
    }

    .row4 {
        width:400px;
        height: 1200px;
        margin: 20px auto;
        background-color: lightpink;
        position: relative;
        .column4 {
            width:50px;
            height: 50px;
            position: sticky;
            top: 30px;
            left: 20px;
            background-color:salmon;
        }    
    }
}

