h3 {
    background-color: darkblue;
    color: white;
}

#container {
    margin: 0 20%;

    #list1 {
        ol {
            counter-reset: counter;
            list-style-type: none;
          }
          li::before {
            counter-increment: counter;
            content: counters(counter, '.') ' ';
          }
    }

    #list2 {
        ul {
            list-style: none;
        }
        li:before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 100%;
            position: relative;
            left: -15px;
            top: -3px;
            display: inline-block;
             background-color: aqua;
        }
    }
    #list3 {
        #list3-ol {
            display: flex;
            ol {
                margin: 0 10px;
            }
        }
    }
}