body {
  margin: 0;
}

#main-container {
  position: relative;
  background-color: teal;
  height: 100vh;
  z-index: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header {
  background-color: white;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .title {
  color: gray;
  margin: 0 0 0 30px;
}

.header .mobile-menu-btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.header .mobile-menu-btn span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.header .mobile-menu-btn span:last-child {
  margin-bottom: 0;
}

#contents {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

.footer {
  background-color: white;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
}

.mobile-menu-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  z-index: 5;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  background-color: whitesmoke;
  right: -200px;
  top: 0px;
  width: 200px;
  height: 100%;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu .mobile-menu-list {
  padding: 0;
}

.mobile-menu .mobile-menu-item {
  list-style: none;
  display: block;
  padding: 0 40px;
}

.mobile-menu .mobile-menu-link {
  display: block;
  margin-top: 30px;
  color: black;
  text-decoration: none;
}

.menu-open #main-container .mobile-menu-btn {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.menu-open #main-container .mobile-menu-btn > span {
  background-color: black;
}

.menu-open #main-container .mobile-menu-btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-open #main-container .mobile-menu-btn > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open #main-container .mobile-menu-btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

.menu-open .mobile-menu-cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.menu-item-title {
  font-weight: 600;
  font-size: 24px;
}
/*# sourceMappingURL=style.css.map */