@import "../animation/mixinParts";


#container {
    text-align: center;
    width: 80%;
    height: 3000px;

    .sample {
        margin: 0 auto;
        outline: auto;
        width: 80%;
        height: 1000px;
    }

    #colorBlock {
        margin: 0 auto;
        background-color: salmon;
        width: 50px;
        height: 50px;
    }

    img {
        width: 50px;
        height: 50px;
    }

    .stringBox {
        background-color: salmon;
        position: relative;
        width: 100%;
        height: 100px;

        .animateStrings {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            color: white;

            &.isShow {
                opacity: 1;

                & .char {
                    display: inline-block;
                    
                    @include animation (
                        $name: string-fade-in,
                        $duration: 3s,
                        $iteration-count: 1,
                        $fill-mode: both                
                    );

                    @for $i from 1 to 20 {
                        &:nth-child(#{$i}) {
                            animation-delay: $i*0.7s;
                        }
                    }
                }
            }
        }
    }
}

@keyframes string-fade-in {
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }

}