#container {
  text-align: center;
  width: 80%;
  height: 3000px;
}

#container .sample {
  margin: 0 auto;
  outline: auto;
  width: 80%;
  height: 1000px;
}

#container #colorBlock {
  margin: 0 auto;
  background-color: salmon;
  width: 50px;
  height: 50px;
}

#container img {
  width: 50px;
  height: 50px;
}

#container .stringBox {
  background-color: salmon;
  position: relative;
  width: 100%;
  height: 100px;
}

#container .stringBox .animateStrings {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
}

#container .stringBox .animateStrings.isShow {
  opacity: 1;
}

#container .stringBox .animateStrings.isShow .char {
  display: inline-block;
  -webkit-animation-name: string-fade-in;
          animation-name: string-fade-in;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#container .stringBox .animateStrings.isShow .char:nth-child(1) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(2) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(3) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(4) {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(5) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(6) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(7) {
  -webkit-animation-delay: 4.9s;
          animation-delay: 4.9s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(8) {
  -webkit-animation-delay: 5.6s;
          animation-delay: 5.6s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(9) {
  -webkit-animation-delay: 6.3s;
          animation-delay: 6.3s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(10) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(11) {
  -webkit-animation-delay: 7.7s;
          animation-delay: 7.7s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(12) {
  -webkit-animation-delay: 8.4s;
          animation-delay: 8.4s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(13) {
  -webkit-animation-delay: 9.1s;
          animation-delay: 9.1s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(14) {
  -webkit-animation-delay: 9.8s;
          animation-delay: 9.8s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(15) {
  -webkit-animation-delay: 10.5s;
          animation-delay: 10.5s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(16) {
  -webkit-animation-delay: 11.2s;
          animation-delay: 11.2s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(17) {
  -webkit-animation-delay: 11.9s;
          animation-delay: 11.9s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(18) {
  -webkit-animation-delay: 12.6s;
          animation-delay: 12.6s;
}

#container .stringBox .animateStrings.isShow .char:nth-child(19) {
  -webkit-animation-delay: 13.3s;
          animation-delay: 13.3s;
}

@-webkit-keyframes string-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes string-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*# sourceMappingURL=style.css.map */