#container {
    text-align: center;

    h3 {
        color: red;
    }

    .contents {
        text-align: center;
        width: 300px;
        border: 2px dotted black;
        margin: 10px auto;
    }

    .pseudo {
        &.before::before{
            content: "hello ";            
            color: orangered;
        }
        &.after::after{
            content: " world";            
            color: orangered;
        }
        &.first-letter::first-letter{
            content: "";            
            color: orangered;
        }
        &.first-line::first-line{
            content: "";            
            color: orangered;
        }

    }

    .pseudo-selector1 {
        a {
            color: blue;

            &:nth-child(3){
                color: lightskyblue;
            }

            &:nth-child(2n){ // 偶数番目の指定 <-> 奇数は2n + 1
                color: purple;
            }
            
            &:visited {
                color: gray;
            }        
            &:hover {
                color: red;
            }
            &:focus { //最後に注目したところ
                color: green;
            }
            &:active { //クリックしたとき
                color: orange;
            }
        }
    }
    .pseudo-selector2 {
        span {
            color: blue;
            &:first-child {
                color: red;
            }
            &:last-child {
                color: green;
            }
            &:not(.default) {
                color:orange;
            }


        }

    }

}